@font-face {
    font-family: "SFProOpenType";
    src: url("SF-Pro.ttf") format("truetype");
}
#back-button {
    position: fixed;
    text-decoration: none;
    font-size: 35px;
    top: 10px;
    left: 15px;
}

body, html {
    /* font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu; */
    /* font-family: "SFProOpenType", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
    font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
    text-align: center;
}

hr {
    width: 20%;
}

a {
    color: blue;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a::after {
    content: "\a";
    white-space: pre;
}

.row-entry {
    margin: auto;

    /* PC */
    width: 50%;
}

@media only screen and (max-width: 768px) {
    /* Phones */
    .row-entry {
        width: 90%;
    }
}

.row-entry::after {
    content: "\a";
    white-space: pre;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.bullet-point {
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
}

td {
    padding: 10px
}

.button {  
    padding: 10px;
}