:root {
    --footer_height: 18px;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body,
html {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;

    background-color: #1e2030;
    color: #82aaff;
}

body {
    display: flex;
    align-items: center;
    box-sizing: content-box;
}

#nvim_main {
    text-align: center;
    margin: auto;
    width: 250px;

    padding: 0;

    border: 3px solid green;
}

#nvim_btm {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: var(--footer_height);
    box-sizing: border-box;

    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}

#nvim_btm div {
    display: inline-block;
}

#nvim_btm div span,
#nvim_btm div span a {
    display: inline-block;
    padding: 4px 12px 4px 12px;
    color: #5e689f;

    height: var(--footer_height);
    font-size: var(--footer_height);
    line-height: var(--footer_height);
}

#nvim_btm_item1 {
    background-color: #82aaff;
    color: #20263a;
    font-weight: 700;
}

#nvim_btm_item2 {
    background-color: #3b4261;
    color: #7fa6fa;
    font-weight: 400;
}

.tilde {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='10' height='20'><text x='0' y='16' fill='%23C6D1F1' font-family='CommitMono'>~</text></svg>");
    background-repeat: repeat-y;
}