<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/colours.css">
    <link rel="stylesheet" href="/styles/blogpost.css">
</head>

<body>
    <div id="blog_main">
        <h3>AYVACS <a style="color:white;" href="../../">home</a></h3>
        <p style="color:gray;">{{ date | sentenceDate }}</p>
        <h1>{{ title }}</h1>
        <hr>
        {{ content | safe }}
        <hr>
        <p id="copyright" style="color:gray;">&copy;</p>
        <script>
            document.getElementById("copyright").textContent += ` ${new Date().getFullYear()} ayvacs. all rights reserved.`
        </script>
    </div>
</body>

</html>