#blog_main {
    width: 35%;
    margin: auto;
}

p, h1 {
    color: white;
}

h2, h3, h4, h5, h6 {
    color: #5e689f;
}

hr {
    margin-top: 24px;
    margin-bottom: 24px;
}

p, pre {
    font-size: 18px;
}

pre {
    padding: 18px;
}

code:not(pre code) {
    padding: 2px;
}

pre,
code:not(pre code) {
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 4px;
    overflow: auto;
}